<!-- <mat-toolbar>
    <div class="search">
            <div class="search-box">
                <mat-form-field id="matx">
                <input id="searchBox" type="text" placeholder="Search Anime" [(ngModel)] = "ps" (input)="onSearchChange($event.target.value)">
                </mat-form-field>
            </div>
            <div class="suggestionBox" *ngFor="let item of searchinfo; let i = index">
                <div class="suggestions">{{item.title}}</div>
            </div>
        </div>            
</mat-toolbar> -->
<mat-toolbar>
    <div>
      <mat-form-field>
        <input matInput id="sBox" type="text" [(placeholder)]="place" [(ngModel)] = "ps" (focus)="foc()" (focusout) = "nofoc()" (input)="onSearchChange()">
      </mat-form-field>
    </div>
</mat-toolbar>
  
<div id = "sugg" *ngIf="place==null">
<div class="suggestionBox" *ngFor="let item of searchinfo; let i = index" >
        <div class="suggestions" (click) = "func(i)"><span class="suggestimg"><img src="https://cdn.masterani.me/poster/1/{{item.poster.file}}"></span>
        <div>{{item.title}}</div></div>
</div>
</div>

<div *ngIf="currentAnime!=null">{{currentAnime.title}}</div>

<ta-videoplayer></ta-videoplayer>
<ta-episodelist></ta-episodelist>